*{
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}
.App {
  text-align: center;
}

li{
  list-style: none;
}

img{
  width:15vw;
}

form{
  background: white;
  width: 30%;
  margin-top: 20vh;
  padding: 30px;
}
.form-ctn{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
